* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.hero {
  height: 400px;
  /*background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/home-hero.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.hero-content {
  height: 350px;
  /*background-color: rgba(100,100,100,.5);*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content h1 {
  color: #fff;
}

.hero-content .page-name {
  text-transform: capitalize;
}

.home-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/home-hero.jpeg);
}

.about-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/about-hero.jpg);
}

.products-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/product-hero.jpg);
}

.contact-hero-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero/contact-hero.jpg);
}

.home {
  background-color: white;
  display: flex;
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.home .hero1 {
  width: 1000px;
  height: 200px;
  background-image: url(../images/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.home .container1 {
  width: 1000px;
  height: 280px;
  margin-top: 30px;
  flex-direction: row;
  display: flex;
  margin: 0 auto;
}
.home .image1 {
  width: 500px;
  height: 280px;
  background-image: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .text1 {
  padding-top: 30px;
  width: 700px;
  height: 280px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.home .container2 {
  width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 30px;
}
.home .image2 {
  width: 500px;
  height: 300px;
  background-image: url(../images/image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}
.home .text2 {
  width: 500px;
  height: 300px;
  text-align: center;
  padding: 20px 20px;
}

.about {
  background-color: bisque;
  display: flex;
  width: 1000px;
  height: 2130px;
  margin: 0 auto;
  flex-direction: column;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.text3 {
  width: 800px;
  height: 330px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin: 20px auto 20px auto;
  padding-bottom: 20px;
}

.image3 {
  max-width: 1000px;
  height: 300px;
  background-image: url(../images/image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text4 {
  padding-top: 10px;
  width: 800px;
  height: 110px;
  text-align: center;
  margin: 20px auto 20px auto;
}

.image4 {
  width: 1000px;
  height: 500px;
  background-image: url(../images/image4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  margin-top: 30px;
}

.text5 {
  width: 800px;
  height: 280px;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}

.image5 {
  width: 1000px;
  height: 500px;
  background-image: url(../images/image5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.text6 {
  width: 800px;
  height: 150px;
  padding-top: 30px;
  text-align: center;
  margin: 0 auto;
}

.text7 {
  width: 800px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
}

.products {
  background-color: lightgreen;
  margin: 0 auto;
  display: block;
  width: 1000px;
  height: 1550px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.product-list {
  text-align: center;
  padding-top: 25px;
  color: white;
}

.column1 {
  width: 490px;
  height: 1050px;
  margin: 0 auto;
  display: inline-block;
}

.column2 {
  width: 490px;
  height: 1050px;
  margin: 0 auto;
  display: inline-block;
  margin-left: 15px;
}

.image6 {
  width: 490px;
  height: 300px;
  background-image: url(../images/image6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.text8 {
  width: 490px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
  align-self: center;
  padding: 20px;
}

.image7 {
  width: 490px;
  height: 300px;
  margin-top: 50px;
  background-image: url(../images/image7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.text9 {
  width: 490px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.text20 {
  width: 490px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.image20 {
  width: 490px;
  height: 300px;
  background-image: url(../images/image20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.image8 {
  width: 490px;
  height: 300px;
  background-image: url(../images/image8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.image9 {
  width: 490px;
  height: 300px;
  background-image: url(../images/image9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  margin-top: 50px;
}

.text10 {
  width: 490px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.text11 {
  margin-top: 30px;
  width: 490px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.text12 {
  width: 490px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.contact {
  display: block;
  width: 1000px;
  height: 1550px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  background-image: url(../images/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.image10 {
  width: 1000px;
  height: 300px;
  background-image: url(../images/image10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  margin-top: 22px;
}

.image11 {
  width: 1000px;
  height: 300px;
  background-image: url(../images/image11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.image12 {
  width: 1000px;
  height: 300px;
  background-image: url(../images/image12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
}

.text13 {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  display: block;
  flex-direction: row;
  overflow: auto;
  font-size: 30px;
  padding-top: 20px;
}

.headline {
  height: 200px;
  text-align: center;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  height: 80px;
  font-size: 30px;
}

.left {
  width: 500px;
  height: 220px;
  display: block;
  float: left;
  padding-left: 300px;
  text-align: left;
}

.right {
  width: 500px;
  height: 220px;
  display: block;
  float: left;
  padding-left: 90px;
  text-align: left;
}

.text14 {
  width: 1000px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  padding-top: 25px;
}

.text15 {
  width: 1000px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  padding-top: 40px;
}