.about {
    background-color: bisque;
    display: flex;
    width: 1000px;
    height: 2130px;
    margin: 0 auto;
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
}

.text3 {
    width: 800px;
    height: 330px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 20px auto 20px auto;
    padding-bottom: 20px;
}

.image3 {
    max-width: 1000px;
    height: 300px;
    background-image: url(../images/image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text4 {
    padding-top: 10px;
    width: 800px;
    height: 110px;
    text-align: center;
    margin: 20px auto 20px auto;
}

.image4 {
    width: 1000px;
    height: 500px;
    background-image: url(../images/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    margin-top: 30px;
}

.text5 {
    width: 800px;
    height: 280px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.image5 {
    width: 1000px;
    height: 500px;
    background-image: url(../images/image5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

.text6 {
    width: 800px;
    height: 150px;
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
}

.text7 {
    width: 800px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
}