.hero{
    height: 400px;
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/home-hero.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero-content{
    height:350px;
    /*background-color: rgba(100,100,100,.5);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1{
    color: #fff;

}

.hero-content .page-name {
    text-transform: capitalize;
}

.home-hero-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/home-hero.jpg);
}

.about-hero-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/about-hero.jpg);
}

.products-hero-image {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/product-hero.jpg);
}


.contact-hero-image{
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../images/hero/contact-hero.jpg);
}