.home {
    background-color: white;
    display: flex;
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

    .hero1 {
    width: 1000px;
    height: 200px;
    background-image: url(../images/hero1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    color: black;
    }
    .container1 {
        width:1000px;
        height: 280px;
        margin-top: 30px;
        flex-direction: row;
        display: flex;
        margin: 0 auto;
    }
    .image1 {
        width: 500px;
        height: 280px;
        background-image: url(../images/image1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .text1 {
        padding-top: 30px;
        width: 700px;
        height: 280px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        background-color: lightgrey;
    }
    .container2 {
        width:1000px;
        height:300px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 30px;
    }
    .image2 {
        width: 500px;
        height: 300px;
        background-image: url(../images/image2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 20px;
        
    }
    .text2 {
        width: 500px;
        height: 300px;
        text-align: center;
        padding: 20px 20px;
    
    } 
} 